.app {
  width: 1440px;
  margin: 0 auto;
  h2 {
    text-align: center;
    margin-top: 48px;
  }
  .app-wrap {
    display: flex;
    margin-top: 48px;

    & div:first-child {
      margin-right: 48px;
    }
  }
}
