.header {
  display: flex;
  margin-top: 0.5rem;
  padding-left: 10px;
  .header-list {
    display: flex;
  }

  ul li {
    list-style: none;
    margin: 0;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    &:hover {
      background-color: #444;
    }
  }

  a {
    text-decoration: none;
  }
  
  h3 a {
    color: white;
    &:hover {
      color: #00bc8c;
    }
  }
}
