.error-indicator {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  font-weight: 700;

  background-image: url(./death-star.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  .boom {
    font-size: 1.7rem;
  }
}

.death-star {
  width: 100px;
  height: 100px;
}
